.signInContainer {
	background-image: url('../img/backgroundDefault.jpg');
	background-repeat: no-repeat;
	
	.signInBgImg {
		background-image: url('../img/backgroundDefault.jpg');
		background-repeat: no-repeat;
	}

	.signFormLogo {
		margin-top: 40px;
		text-align: center;
	}

	.signForm {
		padding: 25px;
		text-align: center;
	}

	.signInBox {
		border-radius: 4px;
		background-color: #ffffff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	}

	.signInTextFields {
		padding-left: 20px;
		height: 48px;
		border-radius: 100px;
		border: solid 1px #777777;
		font-family: inherit;
		font-size: 16px;
		color: #5f5f5f;
		margin-top: 40px;
	}

	.forgotPasswordLink {
		font-family: inherit;
		font-size: 14px;
		color: #118d91;
		float: right;
	}

	.signInSubmit {
		width: 60%;
		height: 48px;
		border-radius: 100px;
		margin-top: 40px;
		background-color: #118d91;
		font-family: inherit;
		font-size: 18px;
		color: #ffffff; 
		border: none;
	}

	.signOutMessage {
		margin-top: 5em;
		text-align: Center;
		font-family: inherit;
		font-size: 16px;
		letter-spacing: 1.8px;
		color: #5b5b5b;
	}
}

.headerCls {
	height: 58px;
    background-color: #FFFFFF;
    border: 0;
    margin: 0;

	.profilepic{
		max-width: 36px;
		max-height: 36px;
		border-radius: 50px;
		border: solid 1.1px #0ea5a4;
	}
	.navbar-brand{
		padding: 15px 42px;
	}
	.header_list {
		height: 58px;
		font-family: inherit;
		font-size: 16px;
		letter-spacing: 0.9px;
		color: #587387;
		padding-top: 11px;
	}

	@media (min-width: 920px) {
	    .navbar-header {
	    	width: 300px;
	        float: left;
	    }
	}

	@media (max-width: 920px) {
	    .navbar-header {
	    	width: 100%;
	        float: none;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-collapse .collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
	        margin: 7.5px -15px;
	    }
	    .navbar-nav>li {
	        float: none;
	    }
	    .navbar-nav>li>a {
	        padding-top: 10px;
	        padding-bottom: 10px;
	    }
	}
	.navbar-header {
	    height: 58px;
	    font-size: 18px;
	    line-height: 20px;
	    background: #2e495e;
	}

	.list{
		margin-left: 5%;
	}

	.navbar-nav > li > a {
	    padding-top: 10px;
	    vertical-align: middle;
	    padding-bottom: 12px;
	    color: #587387;
	}
	.navbar {
	    position: relative;
	    height: 59px;
	    margin-bottom:0px;
    	border: 1px solid transparent;
    	border-bottom: 2px solid #E3E1E3;
	}

	#data{
		background-color: #FFFFFF;
		border-bottom: 2px solid #E4E8EB;
	}

	.notify{
	    position: absolute;
	    top: 7px;
	    right: 8px;
	    background-color: rgba(127, 5, 50, 0.87);
	}

	.list>li>a:hover,.list>li>a:focus{
		color: #00a6a4;
		background-color: transparent;
		border: 0; 
		border-bottom: 4px solid #108c90;

	}
	.iconbar .rounds,.rounds>a,.list>li>a {
		-moz-transition: all 0.2s;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
	}

	.rounds:hover,.rounds>a:focus{
		-moz-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

}

#campaign-container {
	
	@media (min-width: 920px) {
		.sidebar{
			width: 100%;
		}
	}

	.sidebar{
		width: 300px;
		font-size: 18px;
		background: #2e495e;
	}
	.nav>li>a:focus, .nav>li>a:hover {
		background-color: #2e495e;
	}
	.sideBarLia {
		color: #b9b9b9;
	}
}

#editor-container {
	
	@media (min-width: 920px) {
		.sidebar{
			width: 100%;
		}
	}

	.sidebar{
		width: 300px;
		font-size: 18px;
		background: #2e495e;
		padding-top: 57px;
	}
	.nav>li>a:focus, .nav>li>a:hover {
		background-color: #2e495e;
	}
	.sideBarLia {
		color: #b9b9b9;
		padding: 22px 0px;
    	border-bottom: 1px solid #365064;
	}
	.sideBarLiFirst {
		padding-top: 0;
	}

	.sideBarHeading{
		padding-left: 77px;
		font-family: raleway;
	    color: #ffffff;
	    font-size: 24px;
	    line-height: 29px;
	}

	.sideBarIconSvg{
		padding-left: 40px;
		float: left;
	}
	.sideBarLabel{
		padding-left: 88px;
		font-size: 16px;
		letter-spacing: 1.8px;
		color: #69757e;
	}

	.sideBarCampaignName {
		color: #fff;
	    font-family: Raleway;
	    font-size: 12px;
	    padding-left: 77px;
	}

	.sideBarCheckListLable{
		padding: 8px 164px 8px 45px;
		background-color: #1c3649;
		box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.3);
		font-size: 16px;
  		color: #778897;
  		float: left;
	}

	.checkListBox {
		margin-top: 190px;
	}

	.sideBarCheckListBtn {
		padding-left: 153px;
		padding-top: 4.5px;
	}

	.toggle{
		position: absolute;
		width: 49.6px;
		height: 26.8px;
		border-radius: 193px;
		background-image: linear-gradient(to bottom, #365e7b, #305671 48%, #284d67);
	}

	.toggle label{
		box-sizing: border-box;
		display: block;
		background: #ffffff;
	}

	.toggle label{
		width: 40.7px;
		height: 17.5px;
		border-radius: 140px;
		margin: 4.5px;
		background-color: #003c3e;
		transition: all 0.30s ease;
	}

	.Switch-inner{
		position: absolute;
		border-radius: 200px;
		margin: 2px 0 0 2px;
		width: 15px;
		height: 15px;
		background-image: linear-gradient(to bottom, #20455f, #2b4a60);
		box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	}
	.Switch-bevel {
		position: absolute;
		border-radius: 200px;
		width: 19.5px;
		height: 18.6px;
		background-image: linear-gradient(to bottom, #2c536f, #2c4354 54%, #0c324e);
		transition: all 0.3s;
	}

	input[type="checkbox"]:active + .toggle .Switch-bevel,
		input[type="checkbox"]:checked + .toggle .Switch-bevel{ 
		transition: all 0.3s;
		margin-left: 22px;
	}

	input[type="checkbox"]:checked + .toggle label{
		background-color: #108c90;
	}
}