<div id="editor-container">
	<div class="row">
		<div class="col-xs-2 col-sm-2">
			<ul class="nav main-menu sidebar">
                <span class="sideBarCampaignName">Campaign Name</span>
                <li>
                    <div ui-serf="/" class="sideBarLia sideBarLiFirst">
                        <div class="sideBarIconSvg">
                            <object type="image/svg+xml" data="../assets/img/editor/settings-sidebar-icon.svg">Your browser does not support SVG</object>
                        </div>
                        <div class="sideBarHeading">
                            <span>App Name</span>
                        </div>
                    </div>
                </li>
				 <li>
					<div ui-serf="/" class="sideBarLia active">
                        <div class="sideBarIconSvg">
                            <object type="image/svg+xml" data="../assets/img/editor/moments-inactive-icon.svg">Your browser does not support SVG</object>
                        </div>
                        <div class="sideBarLabel">
                            <span class="hidden-xs">MOMENTS</span>
                        </div>
					</div>
				</li>
				<li class="dropdown">
                    <div href="" class="dropdown-toggle sideBarLia">
                        <div class="sideBarIconSvg">
                            <object type="image/svg+xml" data="../assets/img/editor/graphics-inactive-icon.svg">Your browser does not support SVG</object>
                        </div>
                        <div class="sideBarLabel">
                            <span class="hidden-xs">GRAPHICS</span>
                        </div>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <div href="" class="dropdown-toggle sideBarLia">
                        <div class="sideBarIconSvg">
                            <object type="image/svg+xml" data="../assets/img/editor/text-inactive-icon.svg">Your browser does not support SVG</object>
                        </div>
                        <div class="sideBarLabel">
                            <span class="hidden-xs">TEXT</span>
                        </div>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <div href="" class="dropdown-toggle sideBarLia">
                        <div class="sideBarIconSvg">
                            <object type="image/svg+xml" data="../assets/img/editor/colors-inactive-icon.svg">Your browser does not support SVG</object>
                        </div>
                        <div class="sideBarLabel">
                            <span class="hidden-xs">COLORS</span>
                        </div>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <div href="" class="dropdown-toggle sideBarLia">
                        <div class="sideBarIconSvg">
                            <object type="image/svg+xml" data="../assets/img/editor/font-inactive-icon.svg">Your browser does not support SVG</object>
                        </div>
                        <div class="sideBarLabel">
                            <span class="hidden-xs">FONT</span>
                        </div>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            
                        </li>
                    </ul>
                </li> 
                <li >
					<div class="checkListBox">
                        <div class="sideBarCheckListLable">
                            <span class="hidden-xs">CHECKLIST</span>
                        </div>
                        <div class="sideBarCheckListBtn">
                            <input style="display:none" type="checkbox" id="toggle_for_checklist" name="" value="">

                            <div class="toggle" >
                                <label  for="toggle_for_checklist"><i class="Switch-bevel"><i class="Switch-inner"></i></i></label>
                            </div>
                        </div>
					</div>
				</li> 
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="">
			<div id="main-content"></div>
		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->