<!-- /.container-fluid  Starts-->
<div class="container-fluid">
    <div class="row signInContainer">
        <div class="signOutMessage">
            <p> You have been signed out </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
        </div>
        <div class="col-lg-offset-4 col-lg-4">
            <div class="row">
                <div class="col-lg-12 signInBox">
                    <div class="row">
                        <div class="col-xs-12 signFormLogo">
                            <img src="../assets/img/purposly_logo_1.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 signForm">
                            <form name="form" role="form">
                                <div class="form-group">
                                    <input type="email" class="form-control signInTextFields" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control signInTextFields" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <a href="" class="forgotPasswordLink"> <u>Forgot Password?</u> </a>
                                </div>
                                <br>
                                <div class="form-group">
                                    <button type="submit" class="signInSubmit"> Sign In </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid  Ends-->