<nav class="navbar navbar-default headerCls">
<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#data" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand header_logo" href="#"><img src="../assets/img/purposly_logo_.png"></a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="data">
		<ul class="nav navbar-nav list">
		    <li class="header_list">
		    	<a ui-sref=".dashboard">DASHBOARD</a>
		    </li>
		    <li class="header_list">
		    	<a ui-sref=".campaigns">CAMPAIGNS</a>
		    </li>
		    <li class="header_list">
		    	<a ui-sref=".editor">EDITOR</a>
		    </li>
		    <li class="header_list">
		    	<a ui-sref=".library">LIBRARY</a>
		    </li>
	    </ul>
		<ul class="nav navbar-nav navbar-right iconbar">
		    <li class="rounds">
		    	<a href="#">
		    		<img class="header_list_image" src="../assets/img/notification_icon.png">
		    		<span class="badge notify">5</span>
		    	</a>
		    </li>
		    <li class="rounds"><a href="#">
		    	<img class="header_list_image profilepic" src="../assets/img/photo.jpg"></a>
		    </li>
		    <li class="rounds">
		    	<a href="#">
		    		<img class="header_list_image" src="../assets/img/help_icon.png">
		    	</a>
		    </li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
<div ui-view> </div>