.signInContainer {
  background-image: url("../img/backgroundDefault.jpg");
  background-repeat: no-repeat; }
  .signInContainer .signInBgImg {
    background-image: url("../img/backgroundDefault.jpg");
    background-repeat: no-repeat; }
  .signInContainer .signFormLogo {
    margin-top: 40px;
    text-align: center; }
  .signInContainer .signForm {
    padding: 25px;
    text-align: center; }
  .signInContainer .signInBox {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .signInContainer .signInTextFields {
    padding-left: 20px;
    height: 48px;
    border-radius: 100px;
    border: solid 1px #777777;
    font-family: inherit;
    font-size: 16px;
    color: #5f5f5f;
    margin-top: 40px; }
  .signInContainer .forgotPasswordLink {
    font-family: inherit;
    font-size: 14px;
    color: #118d91;
    float: right; }
  .signInContainer .signInSubmit {
    width: 60%;
    height: 48px;
    border-radius: 100px;
    margin-top: 40px;
    background-color: #118d91;
    font-family: inherit;
    font-size: 18px;
    color: #ffffff;
    border: none; }
  .signInContainer .signOutMessage {
    margin-top: 5em;
    text-align: Center;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 1.8px;
    color: #5b5b5b; }

.headerCls {
  height: 58px;
  background-color: #FFFFFF;
  border: 0;
  margin: 0; }
  .headerCls .profilepic {
    max-width: 36px;
    max-height: 36px;
    border-radius: 50px;
    border: solid 1.1px #0ea5a4; }
  .headerCls .navbar-brand {
    padding: 15px 42px; }
  .headerCls .header_list {
    height: 58px;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.9px;
    color: #587387;
    padding-top: 11px; }
  @media (min-width: 920px) {
    .headerCls .navbar-header {
      width: 300px;
      float: left; } }
  @media (max-width: 920px) {
    .headerCls .navbar-header {
      width: 100%;
      float: none; }
    .headerCls .navbar-toggle {
      display: block; }
    .headerCls .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    .headerCls .navbar-collapse .collapse {
      display: none !important; }
    .headerCls .navbar-nav {
      float: none !important;
      margin: 7.5px -15px; }
    .headerCls .navbar-nav > li {
      float: none; }
    .headerCls .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px; } }
  .headerCls .navbar-header {
    height: 58px;
    font-size: 18px;
    line-height: 20px;
    background: #2e495e; }
  .headerCls .list {
    margin-left: 5%; }
  .headerCls .navbar-nav > li > a {
    padding-top: 10px;
    vertical-align: middle;
    padding-bottom: 12px;
    color: #587387; }
  .headerCls .navbar {
    position: relative;
    height: 59px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-bottom: 2px solid #E3E1E3; }
  .headerCls #data {
    background-color: #FFFFFF;
    border-bottom: 2px solid #E4E8EB; }
  .headerCls .notify {
    position: absolute;
    top: 7px;
    right: 8px;
    background-color: rgba(127, 5, 50, 0.87); }
  .headerCls .list > li > a:hover, .headerCls .list > li > a:focus {
    color: #00a6a4;
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid #108c90; }
  .headerCls .iconbar .rounds, .headerCls .rounds > a, .headerCls .list > li > a {
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .headerCls .rounds:hover, .headerCls .rounds > a:focus {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

@media (min-width: 920px) {
  #campaign-container .sidebar {
    width: 100%; } }

#campaign-container .sidebar {
  width: 300px;
  font-size: 18px;
  background: #2e495e; }

#campaign-container .nav > li > a:focus, #campaign-container .nav > li > a:hover {
  background-color: #2e495e; }

#campaign-container .sideBarLia {
  color: #b9b9b9; }

@media (min-width: 920px) {
  #editor-container .sidebar {
    width: 100%; } }

#editor-container .sidebar {
  width: 300px;
  font-size: 18px;
  background: #2e495e;
  padding-top: 57px; }

#editor-container .nav > li > a:focus, #editor-container .nav > li > a:hover {
  background-color: #2e495e; }

#editor-container .sideBarLia {
  color: #b9b9b9;
  padding: 22px 0px;
  border-bottom: 1px solid #365064; }

#editor-container .sideBarLiFirst {
  padding-top: 0; }

#editor-container .sideBarHeading {
  padding-left: 77px;
  font-family: raleway;
  color: #ffffff;
  font-size: 24px;
  line-height: 29px; }

#editor-container .sideBarIconSvg {
  padding-left: 40px;
  float: left; }

#editor-container .sideBarLabel {
  padding-left: 88px;
  font-size: 16px;
  letter-spacing: 1.8px;
  color: #69757e; }

#editor-container .sideBarCampaignName {
  color: #fff;
  font-family: Raleway;
  font-size: 12px;
  padding-left: 77px; }

#editor-container .sideBarCheckListLable {
  padding: 8px 164px 8px 45px;
  background-color: #1c3649;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  color: #778897;
  float: left; }

#editor-container .checkListBox {
  margin-top: 190px; }

#editor-container .sideBarCheckListBtn {
  padding-left: 153px;
  padding-top: 4.5px; }

#editor-container .toggle {
  position: absolute;
  width: 49.6px;
  height: 26.8px;
  border-radius: 193px;
  background-image: linear-gradient(to bottom, #365e7b, #305671 48%, #284d67); }

#editor-container .toggle label {
  box-sizing: border-box;
  display: block;
  background: #ffffff; }

#editor-container .toggle label {
  width: 40.7px;
  height: 17.5px;
  border-radius: 140px;
  margin: 4.5px;
  background-color: #003c3e;
  transition: all 0.30s ease; }

#editor-container .Switch-inner {
  position: absolute;
  border-radius: 200px;
  margin: 2px 0 0 2px;
  width: 15px;
  height: 15px;
  background-image: linear-gradient(to bottom, #20455f, #2b4a60);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1); }

#editor-container .Switch-bevel {
  position: absolute;
  border-radius: 200px;
  width: 19.5px;
  height: 18.6px;
  background-image: linear-gradient(to bottom, #2c536f, #2c4354 54%, #0c324e);
  transition: all 0.3s; }

#editor-container input[type="checkbox"]:active + .toggle .Switch-bevel,
#editor-container input[type="checkbox"]:checked + .toggle .Switch-bevel {
  transition: all 0.3s;
  margin-left: 22px; }

#editor-container input[type="checkbox"]:checked + .toggle label {
  background-color: #108c90; }
